body{
  background-color: #F1EFEF;
}
/* Style for the "Learn more" button */
.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: black;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--text:hover {
  color: #B4B4B3;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
/* Styling for the chatbot container */
.chat-icon {
  position: fixed;
  bottom: 10px;
  right: 30px;
  font-size: 80px;
  cursor: pointer;
  z-index: 1000;
}
.chat-box {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 420px;
  height:75vh;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 128px 0 rgba(0, 0, 0, 0.1),
  0 32px 64px -48px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
  overflow: hidden;
}
.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size:1.4rem;
}
.chat-messages {
  height:560px;
  padding: 15px 20px 70px;;
  max-height: 400px;
  overflow-y: auto;
}
#user-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
}
#send-message {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
/* Add styles for chat messages (user and bot messages) */
.user-message {
  background-color:#F4EEEE;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}
.bot-message {
  background-color: #B4B4B3;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
}
/* Sticky header and navigation bar styles */
header.sticky-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* CSS for visible state of sections */
.section.visible {
  opacity: 1;
  transform: translateY(0);
}
.nav ul li a:hover{
  background:#D8D9DA;
  border-radius:3px;
}
 
  
  
  



  .section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }












/* Custom CSS for the section */
.section-heading {
  text-align: center;
  background-color: #F1EFEF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-heading h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.section-heading p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

