body {
    background: #E3F2FD;
  }

  /* Styles for sticky header */
header.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Adjust as needed */
    z-index: 100;
    transition: background-color 0.3s ease; /* Optional: Add a smooth background color transition */
  }
  
  /* Adjust the header appearance when it's sticky */
  header.sticky-header a {
    color: #333; /* Change link color when sticky if needed */
    /* Add any other styles you want for the sticky header */
  }
  